/* Estilos adicionales */

.container {
    background-color: #f8f9fa; /* Cambia el color de fondo del contenedor */
    padding: 20px;
}

h1 {
    font-size: 28px; /* Cambia el tamaño de la fuente del encabezado */
    margin-bottom: 20px;
}

#task-form input[type="text"],
#task-form input[type="submit"] {
    font-size: 16px; /* Cambia el tamaño de la fuente de los campos de texto y los botones */
}

ul {
    margin-top: 20px;
}